@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: revert;
  }
}

body {
    background-color: #242629;
    font-family: 'Montserrat', sans-serif;
    color: #fffffe;
    height: 100%;
    overflow-x: hidden;
}
p {
  color: #94a1b2;
}

.bg {
  z-index: -1;
  width: 36vw;
  height: auto;
}

h1 span {
  color: #7f5af0;
}

textarea,
#preview {
  background-color: #16161a;
}

a {
  color: #7f5af0;
  text-decoration: none;
}

textarea {
  height: 35vh;
  color: #fffffe;
}

textarea::-webkit-scrollbar {
  width: 12px;
  background-color: #94a1b2; }

textarea::-webkit-scrollbar-thumb {
  background-color: #7f5af0; 
}

#preview img {
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

th,
tr,
td {
  border: 1px solid #fffffe;
  padding: 5px;
}

@media only screen and (max-width: 1200px) {

  #root label,
  #editor,
  #preview {
    width: 80%;
  }

  .bg {
    width: 50vw;
  }
}

@media only screen and (max-width: 576px) {
  #root label,
  #editor,
  #preview {
    width: 90%;
  }

  .bg {
    display: none;
  }

  code {
    width: 100%;
  }
}